body {
    background: #f9c74f;
}

#gameboard {
    border: 8px solid #774936;
    margin: 1rem auto;
    width: 50%;
    height: 75vh;
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    box-sizing: border-box;
}

#gameboard>div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    font-size: 1.5rem;
    font-weight: bold;
    background: #f7fff7;
}

#gameboard>div:nth-child(1) {
    border-left: none;
    border-top: none;
    border-top-left-radius: 14px;
}

#gameboard>div:nth-child(2) {
    border-top: none;
}

#gameboard>div:nth-child(3) {
    border-top-right-radius: 14px;
    border-right: none;
    border-top: none;
}

#gameboard>div:nth-child(4) {
    border-left: none;
}

#gameboard>div:nth-child(7) {
    border-bottom-left-radius: 14px;
    border-left: none;
    border-bottom: none;
}

#gameboard>div:nth-child(9) {
    border-bottom-right-radius: 16px;
    border-right: none;
    border-bottom: none;
}

.notification {
    padding: .75rem 1rem;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

.restart-div {
    display: flex;
    justify-content: center;
}

.restart-btn {
    background: #774936;
    border: 0;
    padding: .75rem 2rem;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 30px;
    display: none;
    outline: none;
    cursor: pointer;
    transition: all .5s;
}

.restart-btn:hover {
    background: black;
}