body
{
	background: #f9c74f;
}
.gameboard
{
	border: 8px solid #774936;
	border-radius: 15px;
	box-sizing: border-box;
	display: grid;
	grid-auto-columns: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	height: 75vh;
	margin: 1rem auto;
	width: 50%;
}
.gameboard>div
{
	align-items: center;
	background: #f7fff7;
	border: 1px solid #000;
	display: flex;
	font-size: 1.5rem;
	font-weight: bold;
	height: 100%;
	justify-content: center;
	width: 100%;
}
.gameboard>div:nth-child(1)
{
	border-left: none;
	border-top: none;
	border-top-left-radius: 14px;
}
.gameboard>div:nth-child(2)
{
	border-top: none;
}
.gameboard>div:nth-child(3)
{
	border-right: none;
	border-top: none;
	border-top-right-radius: 14px;
}
.gameboard>div:nth-child(4)
{
	border-left: none;
}
.gameboard>div:nth-child(7)
{
	border-bottom: none;
	border-bottom-left-radius: 14px;
	border-left: none;
}
.gameboard>div:nth-child(9)
{
	border-bottom: none;
	border-bottom-right-radius: 16px;
	border-right: none;
}
.notification
{
	font-size: 1.1em;
	font-weight: bold;
	margin: auto;
	padding: .75rem 1rem;
	text-align: center;
	text-transform: uppercase;
}
.restart-div
{
	display: flex;
	justify-content: center;
}
.restart-btn
{
	background: #774936;
	border: 0;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 1.3rem;
	outline: none;
	padding: .75rem 2rem;
	transition: all .5s;
}
.restart-btn:hover
{
	background: black;
}